<nav class="navbar navbar-light bg-primary">
  <div class="container">
    <h1>Products</h1>
    <div class="d-flex">
      <button class="btn btn-success">Add Product</button>
    </div>
  </div>
</nav>
<div class="container">
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Description</th>
        <th scope="col">Product Price</th>
        <th scope="col">Product Rating</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of allProducts">
        <td>{{product.id}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productDescription}}</td>
        <td>{{product.productPrice}}</td>
        <td>{{product.productRating}}</td>
        <td>
          <div>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger mx-3">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
